*
!.gitignore
!starship.toml

!BetterDiscord/
!godot/
!i3/
!kitty/
!fastfetch/
!nvim/
!picom/
!polybar/
!X11/
!dunst/
!grub-theme/

!BetterDiscord/**
!godot/**
!i3/**
!kitty/**
!fastfetch/**
!nvim/**
!picom/**
!polybar/**
!X11/**
!dunst/**
!grub-theme/**
