*
!.gitignore

!BetterDiscord/
!godot/
!i3/
!kitty/
!neofetch/
!nvim/
!picom/
!polybar/
!X11/
!dunst/
!grub-theme/

!BetterDiscord/**
!godot/**
!i3/**
!kitty/**
!neofetch/**
!nvim/**
!picom/**
!polybar/**
!X11/**
!dunst/**
!grub-theme/**
